# Default owner: repository owner.
*                                   @saulpatinojr
/apps/lab-api/                      @saulpatinojr
/infrastructure/                    @saulpatinojr
/.github/                           @saulpatinojr
